<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907926123681-ped4nu6qip5kq11va3tctclse4281ljr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907926123681-ped4nu6qip5kq11va3tctclse4281ljr</string>
	<key>API_KEY</key>
	<string>AIzaSyAQL3brFxT1Fp1iI36EN_go9kDspFqgKv4</string>
	<key>GCM_SENDER_ID</key>
	<string>907926123681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qamai.qamaiOfficial</string>
	<key>PROJECT_ID</key>
	<string>qamai-official-5cd60</string>
	<key>STORAGE_BUCKET</key>
	<string>qamai-official-5cd60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907926123681:ios:b8ab9083479ee39ce8ece0</string>
	<key>DATABASE_URL</key>
	<string>https://qamai-official-5cd60.firebaseio.com</string>
</dict>
</plist>